<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Restaurants</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Fonts -->

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>
    <!-- Animations -->

    <!-- Other -->
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="index.html"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="ingredients.html">Ingredient</a></li>
                <li><a href="equipment.html">Kitchen Equipement</a></li>
                <li><a href="restuarants.html">Local Restaurants</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>