<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hủ Tiếu Recipe</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monofett&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>
    <!-- Animations -->

    <!-- Other -->
</head>
<body id="recipes">
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../restuarants.html">Restaurants</a></li>
                <li> <div class="dropdown">
                    Recipes <i class="fa fa-caret-down"></i>
                  <div class="dropdown-content">
                      <a href="banh-bao.html">Bánh Bao</a>
                      <a href="banh-khot.html">Bánh Khot</a>
                      <a href="banh-mi.html">Bánh Mi</a>
                      <a href="banh-xeo.html">Bánh Xeo</a>
                      <a href="bot-chien.html">Bột Chiên</a>
                      <a href="che.html">Chè</a>
                      <a href="com-tam.html">Cơm Tấm</a>
                      <a href="goi-cuon.html">Gỏi cuốn</a>
                      <a href="hu-tieu.html">Hủ tiếu</a>
                      <a href="mi-xao-gion.html">Mí Xao Gion</a>
                      <a href="pho.html">Phở</a>
                      <a href="thit-kho-trung.html">Thịt kho trứng</a>
                    </div>
                </li>
                
            </ul>
        </nav>
    </header>
    <div class="mobile-nav">
        <nav id="mySidenav" class="sidenav">
            <ul>
                <li><a class="closebtn">&times;</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../restuarants.html">Restaurants</a></li>
                <li> <div class="dropdown">
                    Recipes <i class="fa fa-caret-down"></i>
                  <div class="dropdown-content">
                      <a href="banh-bao.html">Bánh Bao</a>
                      <a href="banh-khot.html">Bánh Khot</a>
                      <a href="banh-mi.html">Bánh Mi</a>
                      <a href="banh-xeo.html">Bánh Xeo</a>
                      <a href="bot-chien.html">Bột Chiên</a>
                      <a href="che.html">Chè</a>
                      <a href="com-tam.html">Cơm Tấm</a>
                      <a href="goi-cuon.html">Gỏi cuốn</a>
                      <a href="hu-tieu.html">Hủ tiếu</a>
                      <a href="mi-xao-gion.html">Mí Xao Gion</a>
                      <a href="pho.html">Phở</a>
                      <a href="thit-kho-trung.html">Thịt kho trứng</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="openbtn">
            <span class="material-symbols-outlined menu-button">menu</span>
            <span class="menu-text">menu</span>
        </div>

        <div class="all-over-bkg"></div>  

    </div>
    <div class="container">
        <article>
            <h1>Hủ Tiếu Recipe</h1>
                <section>
                    <div>
                        <img src="../../images/hu-tieu-nam-vang.jpg" alt=" Hủ Tiếu">
                    </div>

                    <div>
                        <h3>Ingredients for the Broth</h3>
                    <ul>
                        <li>
                            2 lbs (900g) pork bones (neck bones or leg bones work well)
                        </li>
                        <li>
                            1 lb (450g) pork shoulder, sliced thinly
                        </li>
                        <li>
                            1 lb (450g) shrimp, peeled and deveined
                        </li>
                        <li>
                            1 onion, halved
                        </li>
                        <li>
                            4 cloves garlic, smashed
                        </li>
                        <li>
                            1 piece of dried squid or dried shrimp (optional, for extra flavor)
                        </li>
                        <li>
                            1 tbsp sugar
                        </li>
                        <li>
                            1 tbsp fish sauce
                        </li>
                        <li>
                            Salt and pepper, to taste
                        </li>
                    </ul>
                </section>
                <section>

                    <div>
                        <h3> Ingredients for the Noodles and toppings</h3>
                        <ul>
                            <li>
                                1 lb (450g) hủ tiếu noodles (flat rice noodles) or substitute with rice vermicelli or pho noodles
                            </li>
                            <li>
                                Bean Sprouts
                            </li>
                            <li>
                                Chopped green onions                                
                            </li>
                            <li>
                                Fresh cilantro
                            </li>
                            <li>
                                Sliced lettuce                                
                            </li>
                            <li>
                                Fried Shallots
                            </li>
                            <li>
                                Lime wedges (squeeze in the broth for taste)
                            </li>
                            <li>
                                Chili slices
                            </li>
                            <li>
                                Quail eggs
                            </li>
                            <li>
                                Fish balls
                            </li>
                            <li>
                                Fried tofu
                            </li>
                            
                        </ul>
                    </div>
                    <div>
                        <h3>Directions</h3>
                        <ol>
                            <li>
                                Make the broth:
                                Blanch the pork bones in boiling water for 3-5 minutes to remove impurities. Rinse under cold water and set aside.
                                In a large pot, add the cleaned pork bones, pork shoulder, onion, garlic, and dried squid or shrimp (if using). Cover with water and bring to a boil.
                                Lower the heat and simmer for about 1.5-2 hours. Skim off any foam or impurities that rise to the surface.
                                Add sugar, fish sauce, salt, and pepper to taste. Adjust the seasoning as needed.
                            </li>

                            <li>
                                Cook the noodles:
                                Boil the noodles according to the package instructions until tender. Drain and rinse under cold water to prevent sticking.
                             </li>
                            <li>
                                Cook the shrimp:
                                In the last 5 minutes of cooking the broth, add the shrimp. Cook until they turn pink and are fully cooked. Remove and set aside.
                            </li>
                            <li>
                                Prepare the toppings:
                                Slice the cooked pork shoulder thinly.
                                Wash and prepare bean sprouts, lettuce, and herbs
                            <li>
                                Assemble the bowls:
                                Divide the cooked noodles into serving bowls.
                                Arrange the sliced pork, cooked shrimp, and optional toppings (e.g., quail eggs or fish balls) on top of the noodles.
                                Ladle hot broth over the noodles and toppings. 
                            </li>
                            <li>
                                Garnish and serve:
                                Garnish with bean sprouts, green onions, cilantro, fried shallots, and chili slices.
                                Serve with lime wedges and additional fish sauce or chili sauce on the side
                            </li>
                        </ol> 
                    </div>
                </section>
           
        </article>

    </div>   
    <footer>

    </footer>
    <script src="../../js/nav.js"></script>
</body>
</html>


