<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thịt kho trứng Recipe</title>
    <!-- Style sheets -->
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monofett&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/bf37eaf948.js" crossorigin="anonymous"></script>
    <!-- Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Other -->
</head>

<body id="recipes">
    <header>
        <nav class="navbar">
            <h1 class="title">Recipes</h1>
            <ul class="nav-links">
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../restuarants.html">Restaurants</a></li>
                <li>
                    <div class="dropdown">
                        Recipes <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="banh-bao.html">Bánh Bao</a>
                            <a href="banh-khot.html">Bánh Khot</a>
                            <a href="banh-mi.html">Bánh Mi</a>
                            <a href="banh-xeo.html">Bánh Xeo</a>
                            <a href="bot-chien.html">Bột Chiên</a>
                            <a href="che.html">Chè</a>
                            <a href="com-tam.html">Cơm Tấm</a>
                            <a href="goi-cuon.html">Gỏi cuốn</a>
                            <a href="hu-tieu.html">Hủ tiếu</a>
                            <a href="mi-xao-gion.html">Mí Xao Gion</a>
                            <a href="pho.html">Phở</a>
                            <a href="thit-kho-trung.html">Thịt kho trứng</a>
                        </div>
                    </div>
                </li>

            </ul>
        </nav>
    </header>
    <div class="mobile-nav">
        <nav id="mySidenav" class="sidenav">
            <ul>
                <li><a class="closebtn">&times;</a></li>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about.html">About</a></li>
                <li><a href="../restuarants.html">Restaurants</a></li>
                <li>
                    <div class="dropdown">
                        Recipes <i class="fa fa-caret-down"></i>
                        <div class="dropdown-content">
                            <a href="banh-bao.html">Bánh Bao</a>
                            <a href="banh-khot.html">Bánh Khot</a>
                            <a href="banh-mi.html">Bánh Mi</a>
                            <a href="banh-xeo.html">Bánh Xeo</a>
                            <a href="bot-chien.html">Bột Chiên</a>
                            <a href="che.html">Chè</a>
                            <a href="com-tam.html">Cơm Tấm</a>
                            <a href="goi-cuon.html">Gỏi cuốn</a>
                            <a href="hu-tieu.html">Hủ tiếu</a>
                            <a href="mi-xao-gion.html">Mí Xao Gion</a>
                            <a href="pho.html">Phở</a>
                            <a href="thit-kho-trung.html">Thịt kho trứng</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="openbtn">
            <span class="material-symbols-outlined menu-button">menu</span>
            <span class="menu-text">menu</span>
        </div>

        <div class="all-over-bkg"></div>

    </div>
    <div class="animate__animated animate__fadeInUp">

        <div class="container">
            <article>
                <h2>Thịt kho trứng Recipe</h2>
                <section>
                    <div>
                        <img src="../../images/thit-kho-trung.jpg" alt="Thịt kho trứng">

                        <h3>Main Ingredients</h3>
                        <ul>
                            <li>
                                1.5 lbs (700g) pork belly or pork shoulder, cut into bite-sized pieces
                            </li>
                            <li>
                                6 hard-boiled eggs, peeled
                            </li>
                            <li>
                                3 tbsp fish sauce
                            </li>
                            <li>
                                2 tbsp sugar (or caramel sauce if available)
                            </li>
                            <li>
                                1/2 tsp salt and 1 tsp ground black pepper
                            </li>
                            <li>
                                2 cloves of garlic
                            </li>
                            <li>
                                2 shallots, minced
                            </li>
                            <li>
                                1 tbsp vegetable oil
                            </li>
                            <li>
                                Fresh cilantro and sliced chili (optional for extra spice and taste)
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3>Directions</h3>
                        <ol>
                            <li>
                                Prepare the pork:
                                Blanch the pork pieces in boiling water for 2-3 minutes to remove impurities. Rinse
                                under cold water and set aside.
                            </li>

                            <li>
                                Make the caramel base:
                                Heat the oil in a pot over medium heat. Add the sugar and stir constantly until it melts
                                and turns golden brown. Be careful not to burn it.
                                Quickly add the minced garlic and shallots, stirring until fragrant.
                            </li>
                            <li>
                                Braise the pork:
                                Add the blanched pork pieces to the caramel and stir to coat evenly.
                                Add fish sauce, salt, and pepper, and continue stirring for 1-2 minutes.
                            </li>
                            <li>
                                Add liquid:
                                Pour in the coconut water, ensuring the pork is submerged. If needed, add additional
                                water to cover.
                                Bring to a boil, then reduce to a simmer. Cover and cook for 30-40 minutes, stirring
                                occasionally.
                            <li>
                            <li>
                                Add the eggs
                                Add the boiled eggs to the pot and gently stir to coat them with the sauce. Continue to
                                simmer for another 15-20 minutes until the pork is tender and the sauce has thickened
                                slightly.
                            </li>
                            <li>
                                Assemble the bowls:
                                Divide the cooked noodles among serving bowls. Add slices of brisket and raw sirloin on
                                top.
                                Ladle the hot broth over the noodles and beef, cooking the raw sirloin in the heat of
                                the broth.
                            </li>
                            <li>
                                Serve:
                                Serve hot with steamed jasmine rice. Garnish with cilantro and sliced chili, if desired.

                            </li>
                        </ol>
                    </div>

                </section>

            </article>


        </div>
        <script src="../../js/nav.js"></script>

        <footer>
            <h2>Contact</h2>
            <p>rickyyvu15@gmail.com</p>
            <p>(317)-772-6976</p>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </footer>
    </div>
</body>

</html>